.btn_dark_color{
    background:green;
}

.a_tag{
    color:#fff;
}
.modal-dialog {
    
    margin: 7.75rem auto !important;
    max-width: 600px !important;
}
.modal-content {
    padding: 18px;
}

